body {
  background-color: #000;
  background-image: url(image/background-repeat.jpg);
  color: #fff;
  font-family: Arial;
}

h2 {
  font-size: 3em;
}

article {
  margin: 20px;
  border-radius: 5px;
  min-height: 100px;
  background-color: rgba(166,166,166, 0.4);
  padding: 20px;
}

pre {
  font-size: 1.3em;
}

/*Styles for Tabs on CSS 3*/

.tab-wrapper {
  margin-top: 20px;
}

.tab-wrapper > input {
  display: none;
}

.tab-wrapper > label {
  position: relative;
  display: block;
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.tabs-content {
  clear: both;
  max-height: 406px;
  overflow: auto;
}

.tabs-content > div {
  background-color: #222222;
  color: #f0eabe;
  padding: 10px;
  display: none;
}

#tab1:checked ~ .tabs-content > div:nth-child(1),
#tab2:checked ~ .tabs-content > div:nth-child(2),
#tab3:checked ~ .tabs-content > div:nth-child(3) {display: block;}

#tabs-code-html:checked ~ .tabs-content > div:nth-child(1),
#tabs-code-css:checked ~ .tabs-content > div:nth-child(2) {display: block;}

.tab-wrapper input:checked + label {
  color: #fff;
  background-color: #000;
}

/*Accordeaon styles*/

.accordeon-wrapper ul,
.accordeon-wrapper ul li {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}

.accordeon {
  width: 150px;
}

/*Function*/

.accordeon li > .sub-menu {
  height: 0;
  overflow: hidden;
  -webkit-transition: height .4s ease;
  transition: height .4s ease;
}

.accordeon li:target > .sub-menu {height: 98px;}

.accordeon li > a {
  display: block;
  width: 150px;
  height: 32px;
  text-align: center;
  background-color: #586895;
  color: #fff;
  font-weight: bold;
  line-height: 32px;
  text-decoration: none;
}

.accordeon li:hover > a, 
.accordeon li:target > a {
  background-color: #3C4662;
}

/*Sub-menu styles*/

.sub-menu li a {
  background-color: #e5e5e5;
  color: #3C4662;
  border-bottom: 2px solid #596891;
}

.sub-menu li:last-child a {
  border: none;
}

.sub-menu li:hover a {
  background-color: #bfbfbf;
  color: #1f2433;
}

#accordeon-code-html:checked ~ .tabs-content > div:nth-child(1),
#accordeon-code-css:checked ~ .tabs-content > div:nth-child(2) {display: block;}


.jq-accordeon-wrapper > h2 {
  background-color: #596891;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin: 0;
  border-bottom: 5px solid #3D4761;
  cursor: pointer;
}

.jq-accordeon-wrapper > h2:last-of-type{
  border-bottom: none;
}

.jq-accordeon-wrapper > p {
  display: block;
  background-color: #fff;
  color: #596891;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 10px;
}

.s-m-page {
  font-family: Arial;
}

.s-m-page header, .s-m-page main {
  margin: 20px auto;
  max-width: 860px;
}

.s-m-page h1 {
  font-size: 4em;
}

.s-m-page h3 {
  font-size: 2em;
}

.s-m-page .main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #596891;
  min-height: 28px;
}

.s-m-page .main-nav li {
  display: block;
  float: left;
  padding: 5px;
  background-color: #596891;
  font-weight: bold;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
}

.s-m-page main {
  clear: both;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.shadow {
  box-shadow: 0 7px 17px -2px rgba(117,117,117,1);
}

.block-center-body {
  margin: 0;
}

.block-center-body div {
  min-height: 200px;
  max-width: 800px;
  margin: 100px auto;
  background-color: rgba(117,117,117,1);
  text-align: center;
}
















